<div>
  <table class="highlight responsive-table">
    <thead>
    <tr>
      <th data-field="product">Product</th>
      <th data-field="descr">Description</th>
      <th data-field="quantity">Quantity</th>
      <th data-field="price">Unit Price</th>
      <th data-field="price">Total Price</th>
    </tr>
    </thead>
    <tbody>
    <% @cart_products.each do |cart_product| %>
        <tr>
          <% product = cart_product.product %>
          <td>
            <%= product.name %>
          </td>
          <td>
            <%= product.description %>
          </td>
          <td>
            <%= select_tag 'quantity', options_for_select((1..9).to_a, cart_product.quantity), style: 'width: 75px', 'data-cid' => cart_product.id, class: 'quantityChanger', id: "ps_#{cart_product.id}" %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td id="qn_<%=cart_product.id%>">
            <%= cart_product.quantity * product.price %>
          </td>
          <td>
            <i class="small material-icons">delete</i>
          </td>
        </tr>
    <% end %>
    <tr>
      <td colspan="3" ></td>
      <td style="font-weight:bold;border-top:1px solid">Total</td>
      <td style="font-weight:bold;border-top:1px solid"></td>
    </tr>
    <tr>
      <% if @cart_products.present? %>
          <%= link_to 'Check out', check_out_orders_path, class: 'row btn right', style: 'margin-left:7px;' %>
      <% else %>
          <td colspan="6" id="check-out-button" class="container row">
            No Products in cart,
            <%= link_to 'Continue Shopping', products_path %>
          </td>
      <% end %>
    </tr>

    </tbody>
  </table>
</div>

<script type="application/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });

    $('.quantityChanger').change(function () {
        var cid = $(this).attr('data-cid');
        $.ajax({
            url: '<%= update_quantity_cart_products_path %>',
            data: {quantity: this.value, id: cid},
            dataType: "json",
            type: 'POST',
            success: function (response) {
                if(response.status)
                {
                    $('#qn_'+cid).text(response.total_price);
                } else {
                    alert(response.message);
                    window.location.reload();
                }
            }
        })
    });
</script>
