<div>
  <% @cart_products.each do |cart_product| %>
      <% product = cart_product.product %>
      <div>
        Cart Product id: <%= cart_product.id %>
      </div>
      <div>
        <%= product.name %>
      </div>
      <div>
        <%= product.description %>
      </div>
      <div>
        <%= cart_product.quantity %>
      </div>
  <% end %>

  <% if @cart_products.present? %>
      <div id="check-out-button"> <%= link_to( 'Checkout', orders_path( cart_product_ids: @cart_products.map(&:id), order_params: { billing_address: 'NA', delivery_address: 'NA' } ), method: :post) %>  </div>
  <% else %>
      No Products in cart, please search for products
      <%= link_to 'here', products_path %>
  <% end %>
</div>
