<div class="row">
  <div class="col s4"></div>
  <div class="col s4">
      <h3 class="nav-wrapper pink .lighten-3 center" style="color:white;">Join with CIOSA</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="input-field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </div>

          <div class="input-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="input-field">
            <% if @minimum_password_length %>
                <label>Password <em>(<%= @minimum_password_length %> characters minimum)</em></label>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="input-field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="input-field">
            <%= f.label :mobile %><br />
            <%= f.text_field :mobile %>
          </div>

          <div class="actions">
            <%= f.submit "Submit", class: "indigo col s12 btn btn-large waves-effect" %>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
  <div class="col s4"></div>
</div>
