<style>
    /* label underline focus color */
    .input-field label {
        color: #000;
    }
</style>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav style="background-color:#A0225F">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><%= image_tag ("logo.png") %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="" style="left: -300px; position: relative;">
        <%= form_tag(search_products_url, method: :get) do %>
            <%= text_field_tag 'q', params[:q], placeholder: 'Search Products' %>
        <% end %>
      </li>
      <% if user_signed_in? %>
          <li>Hi, <strong><%= current_user.name %></strong>.</li>

          <% if current_user.is_seller? && current_user.approved? %>
            <li><%= link_to 'Manage My Products', manage_my_products_products_path, :class => 'navbar-link' %></li>
          <% end %>

          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><a href="<%= cart_products_path %>">Cart <span class="new badge"><%= cart_product_count %></span></a></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %></li>
      <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>

    </ul>
  </div>
</nav>
