<style>
    /* label underline focus color */
    .input-field label {
        color: #000;
    }
</style>
<ul id="userInfo" class="dropdown-content">
  <li><%= link_to 'Order History', orders_path %></li>
  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %></li>
</ul>
<nav style="background-color:#A0225F">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><%= image_tag ("logo.png") %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="" style="left: -300px; position: relative;">
        <%= form_tag(search_products_url, method: :get) do %>
            <%= text_field_tag 'q', params[:q], placeholder: 'Search Products' %>
        <% end %>
      </li>
      <% if user_signed_in? %>
          <% if current_user.is_seller? && current_user.approved? %>
            <li><%= link_to 'Manage My Products', manage_my_products_products_path, :class => 'navbar-link' %></li>
          <% end %>

          <li><a href="<%= cart_products_path %>">Cart <span class="new badge"><%= cart_product_count %></span></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="userInfo">Hi, <strong><%= current_user.name %></strong><i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>

    </ul>
  </div>
</nav>
