<div>
  Dear Admin User,

  New product request added to your site by <%= @user.name %> from

  Product Details:

  <div>Name: <%= @product.name %></div>
  <div>Description: <%= @product.description %></div>
  <div>Price: <%= @product.price %></div>
  <div>Available Quantity: <%= @product.available_quantity %></div>

</div>