<div>
  Dear Admin User,

  New organization request added to your site by <%= @organization.creator.name %> from

  Organization Details:

  <div>Name: <%= @organization.name %></div>
  <div>Organization Type: <%= @organization.organization_type %></div>
  <div>Organization Category: <%= @organization.is_store? ? 'Store' : 'Ngo' %></div>
  <div>Provides Eco Friendly Products <%= @organization.is_eco_friendly? ? 'Eco Friendly' : 'Not an eco friendly product' %></div>

</div>