<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <% @organization.errors.full_messages.each do |error_message| %>
        <%= error_message %><br/>
    <% end %>
    <ul>
      <%= form_for @organization do |f| %>
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :address %>
            <%= f.text_area :address %>
          </div>
          <div class="input-field col s12">
            <select name="organization[organization_type]">
              <option value="" class="disabled"></option>
              <option value="propitiatory">Propitiatory</option>
              <option value="partnership">Partnership</option>
              <option value="pvt_ltd">Pvt Ltd</option>
            </select>
            <label>Organization Type</label>
          </div>
          <div class="field">
            <%= f.label :mobile %>
            <%= f.text_field :mobile %>
          </div>
          <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
          <div class="field">
            <%= f.label :pan_tin_number %>
            <%= f.text_field :pan_tin_number %>
          </div>
          <div class="field">
            <label>Do you have a store?</label>
            <p>
              <input name="is_store" type="radio" id="store_1" value="1"/>
              <label for="store_1">Yes</label>
            </p>
            <p>
              <input name="is_store" type="radio" id="store_0" value="0" />
              <label for="store_0">No</label>
            </p>
          </div>
          <div class="field">
            <label>Are you selling eco friendly products?</label>
            <p>
              <input name="is_eco_friendly" type="radio" id="eco_1" value="1"/>
              <label for="eco_1">Yes</label>
            </p>
            <p>
              <input name="is_eco_friendly" type="radio" id="eco_0" value="0" />
              <label for="eco_0">No</label>
            </p>
          </div>
          <div class="field">
            <label>Are you selling products?</label>
            <p>
              <input name="products_sold" type="radio" id="products_1" value="1"/>
              <label for="products_1">Yes</label>
            </p>
            <p>
              <input name="products_sold" type="radio" id="products_0" value="0" />
              <label for="products_0">No</label>
            </p>
          </div>

          <div class="field">
            <label>Can you take care of logistics?</label>
            <p>
              <input name="can_do_logistics" type="radio" id="logistics_1" value="1"/>
              <label for="logistics_1">Yes</label>
            </p>
            <p>
              <input name="can_do_logistics" type="radio" id="logistics_0" value="0" />
              <label for="logistics_0">No</label>
            </p>
          </div>

          <div>
             <%= f.submit 'Submit', class: 'btn beta-btn', id: 'submit-btn' %>
          </div>
      <% end %>
    </ul>
  </div>
  <div class="col s2"></div>
</div>


<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>