<% @organization.errors.full_messages.each do |error_message| %>
  <%= error_message %><br/>
<% end %>

<%= form_for @organization do |f| %>
  <div>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label 'Address' %>
    <%= f.text_area :address %>
  </div>
  <div>
    <%= f.label 'Organization Type' %>
    <%= f.select :organization_type, options_for_select( 'NGO', 'Store' ) %>
  </div>
  <div>
    <%= f.label 'Mobile' %>
    <%= f.text_field :mobile %>
  </div>
  <div>
    <%= f.label 'Email' %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label 'PAN / TIN Number' %>
    <%= f.text_field :pan_tin_number %>
  </div>
  <div>
    <%= f.label 'Is Store?' %>
    <%= f.check_box :is_store %>
  </div>
  <div>
    <%= f.label 'Is eco-friendly?' %>
    <%= f.check_box :is_eco_friendly %>
  </div>
  <div>
    <%= f.label 'Products sold (separate multiple products using comma)' %>
    <%= f.text_area :products_sold %>
  </div>
  <div>
    <%= f.label 'Can do logistics?' %>
    <%= f.check_box :can_do_logistics %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>