<div class="row">
  <div class="col s12">
      <%= flash[:error] %>

      <%= semantic_form_for @product do |f| %>
          <%= f.input :name, class: 'txt-box', autofocus: true %>
          <%= f.input :price, class: 'txt-box' %>
          <%= f.input :description, class: 'txt-box' %>
          <%= f.input :available_quantity, class: 'txt-box' %>
          <%= f.input :categories, :as => :select, :label => 'Category', multiple: true, include_hidden: false,
                      :collection => Category.all.map { |category| [category.name, category.id] } %>
          <%= f.input :image, id:'product-pic-input'%>
          <%= f.submit 'Create Product Request', class: 'btn beta-btn', id: 'submit-btn' %>

      <% end %>
  </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('select').material_select();
    });

</script>
