<div class="row">
  <div class="col s12">
  	<p> Name: <%= @product.name %> </p>
		<p> Description: <%= @product.description %> </p>
		<p> Name: <%= @product.name %> </p>
		<p> Price: <%= @product.price %> </p>
		<p> Image <%= @product.image %> </p>
		<p> Sold By <%= @product.creator.name %> </p>
  </div>
</div>